{% extends 'mv/base.html' %}
{% load static %}


{% block title %}MV name{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'mv/detail-mv.css' %}">
{% endblock %}

{% block content %}
<main>


    <div class="header-review mt-4 mb-3 text-center text-light">
        <h3 class="">review mv phía sau em sẽ là</h3>
        <small>by admin - 10/3/2102</small>
    </div>

    <div class="container">
        <div class="row row1">
            <div class="col-sm-9 col-xs-12">
                <img src="{% static 'mv/1.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-3 col-xs-12 text-light text">
                <ul>
                    <li>
                        <p>Thời lượng: 5 phút</p>
                    </li>
                    <li>
                        <p>Thể hiện: Bùi Anh Tuấn</p>
                    </li>
                    <li>
                        <p>Đạo diễn: Tôn Công</p>
                    </li>
                    <li>
                        <p>Diễn viên: Dương Hồng Phai</p>
                    </li>
                    <li>
                        <p>Thể loại: Vpop</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row2 text-light ">
            <div class="col-sm-12 col-xs-12 text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus, est sapiente ducimus
                    quisquam autem aut laborum a expedita itaque in voluptates excepturi beatae facilis unde error ipsum
                    perferendis neque!
                </p>
            </div>
        </div>

        <div class="row row3">
            <div class="col-sm-4 col-xs-12 text-light text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque enim repellat voluptatum quaerat
                    labore neque eum hic, optio cum ex, soluta modi consequatur quod tempora rerum veritatis quidem ab
                    saepe.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates id molestias est distinctio unde
                    suscipit delectus autem, reprehenderit, aliquid sapiente magni consequatur nobis! Molestiae eligendi
                    porro dolorum perspiciatis,
                    obcaecati soluta.</p>
            </div>
            <div class="col-sm-8 col-xs-12">
                <img src="{% static 'mv/2.jpg' %}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row row4">
            <div class="col-sm-8 col-xs-12">
                <img src="{% static 'mv/3.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4 col-xs-12 text-light text">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus sed laborum vitae corporis rerum
                    similique consectetur laudantium facilis quas, quibusdam est officiis velit voluptatibus inventore
                    at minus. Praesentium, repellat
                    natus.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reiciendis fuga modi dolores
                    ratione! Quos sequi ipsum modi eaque eum nisi voluptate! Veritatis aspernatur id aut. Veniam
                    accusantium assumenda nulla.</p>
            </div>
        </div>

        <div class="row row5">
            <div class="col-sm-4 col-xs-12 text-light text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus architecto at quaerat est laudantium,
                    suscipit deserunt nobis similique saepe. Suscipit molestiae harum qui debitis expedita fugiat hic!
                    Ducimus, dolor expedita!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet rerum expedita maiores, beatae
                    autem, cupiditate neque quas eaque unde ad facere voluptatibus illo, perferendis obcaecati fugiat
                    aperiam officia totam esse?</p>
            </div>
            <div class="col-sm-8 col-xs-12">
                <img src="{% static 'mv/4.jpg' %}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row row6">
            <div class="col-sm-12 col-xs-12 text-light">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est porro sint fugiat eligendi sapiente
                    incidunt nostrum hic aliquid asperiores consequatur officia, quidem nesciunt magni modi iure, nam
                    eveniet. Enim, laborum?</p>
            </div>
        </div>

        <div class="row row7">
            <div class="col-sm-8 col-xs-12">
                <div class="div-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ybfq5gtvnj0" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 text-light">
                <ul>
                    <li>
                        <h5>phis dcdskncj ndisdn nfnwond</h5>
                    </li>
                    <li>
                        <p>Thời lượng: 5 phút</p>
                    </li>
                    <li>
                        <p>Thể hiện: Bùi Anh Tuấn</p>
                    </li>
                    <li>
                        <p>Đạo diễn: Tôn Công</p>
                    </li>
                    <li>
                        <p>Diễn viên: Dương Hồng Phai</p>
                    </li>
                    <li>
                        <p>Thể loại: Vpop</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</main>
{% endblock %}